build
*.DS_Store
*.vscode
*.json
saved_results/*
saved_params/*
**/__pycache__/
*.egg-info/
*.png
*.pgf
dist/
data/**

# Data
!data/toy_time_series/
!data/toy_time_series/**

# Docs
docs/_build/

# Figures
!saved_results/time_series_toy.png
!docs/_static/**

# Model
!saved_params/toy_anomaly_detection_tune.pkl

# Metadata 
!examples/benchmark/BM_metadata.json

# Experiments
experiments/*/figures/
experiments/*/results/
!experiments/*.json
